<%include partials/header%>
<%include partials/navigation%>

<div class="row container-fluid mt-4">
    <div class="col-md-4 mt-4">
        <!--User Card-->
        <div class="card mt-4 ml-4 ">

            <!--Card image-->
            <img class="img-fluid" style="height : 250px !important; max-width:100% !important; min-width:100% !important; object-fit: cover !important;" src="/media/EAON2.png" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <div class="row">
                    <div class="ml-5">
                      <span class="lead">  <%=email%></span>
                    </div>
                    <div class="col-md-6 text-right">
                    </div>
                </div>
                <!--Text-->
                
        
            <!--/Card image-->

        </div>
        <!--/.User Graph Card-->
    </div>
</div>

<div class="col-md-8 mt-4 mb-3">
    <!--User Card-->
    <div class="card mt-4 ">

        <!--Card image-->
        <img class="img-fluid" src="/media/crypto.jpeg" alt="Card image cap">

        <!--Card content-->
        <div class="card-body ">
            <!--Title-->
            <div class="row">
                <div class="col-md-12">
                   <span>Wallet Address: <%=user%></span>
                     
                </div>
                <div class="col-md-6 text-right">
                </div>
            </div>
            <!--Text-->
            
    
        <!--/Card image-->

    </div>
    <!--/.User Graph Card-->
</div>
</div>
</div>


<%include partials/footer%>